<%= form_with(model: [user, category]) do |form| %>
 

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "input-field" %>
  </div>

  <div>
    <%= form.label :details, style: "display: block" %>
    <%= form.text_field :details, class: "input-field" %>
  </div>

  <div class="save-cat">
    <%= form.submit %>
  </div>
<% end %>
