<div class="div-home">
    <nav class="nav-home">
      <%= image_tag "nav-icon.png", :class => "nav-home-img" %>
      <p>My Journal</p>
    </nav>
    <div class="user-log-out">
      <h3><%= current_user.email %></h3>
      <%= button_to image_tag("log-out .png"), destroy_user_session_path, method: :delete %>
    </div>
</div>

<div class="holder-holder">
  <div class="categories">
    <div class="header-holder">
      <div class="categories-header">
        <%= image_tag "categories.png", :class => "categ-icon" %>
        <h1 class="cat">Categories</h1>
        <%= link_to "+ New Category", new_user_category_path(current_user), class: "new-cat" %>
     </div>
     <div class="categories-header">
          <%= image_tag "task.png", :class => "task-icon" %>
          <h1 class="cat">Task</h1>

          <%= image_tag "date.png", :class => "date-icon" %>
          <h1 class="cat-date">Date</h1>
     </div>
     
    </div>
  <div class="categories-holder">
  <% @category.each do |category| %>
    <div class="category">
      <h2><%= category.name %></h2>
      <h2>Task: <%= category.tasks.count %></h2>
      
      <%= link_to "Tasks", show_category_path(current_user, category), class: "task-link" %> |
      <%= link_to image_tag("edit.png"), edit_user_category_path(current_user, category), class: "edit-icon" %> |
      <%= link_to image_tag("delete.png"), delete_category_path(current_user, category), class: "delete-category", data: { "turbo_method": "delete", "turbo_confirm": "Are you sure you want to delete this category? This can't be undone." } %>
    </div>
  <% end %>
  

  
  </div>
  
</div>
<div class="todays-tasks-container">
<div class="todays-tasks-header">
    <h2>Task</h2>
    <h2>Date</h2>
</div>

  <div class="todays-tasks">
    <% current_user.tasks.where('date = ?', Date.current).each do |task| %>
      <div class="task-date">
        <div>
          <h2><%= task.name %></h2>
          <h2>- <%= task.details %></h2>
        </div>
          <div class="task-delete">
          <h2><%= task.date.strftime('%B %d, %Y')%></h2>
          <%= link_to "Delete", delete_task_path(current_user, @category, task), class: "delete-task", data: { "turbo_method": "delete", "turbo_confirm": "Are you sure you want to delete this task? This can't be undone." } %>
      </div>
      </div>
     <% end %>
      </div>
  </div>
</div>
</div>